{% load static %}
<footer class="footer section-padding" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12">
                <div class="footer-col">
                    <h5 class="mb-4">About Us</h5>
                    <p class="mb-4">Experience in Data Analysis and Software Developmet. Open to on-site and remote project/job</p>
                </div>
            </div>

            <div class="col-lg-3 col-12">
                <div class="footer-col">
                    <h5 class="mb-4">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-12">
                <div class="footer-col">
                    <h5 class="mb-4">Get in Touch</h5>
                    <p class="mb-4">For any additional information, collaborations or partnerships use the information below to reach out.</p>
                    <ul class="list-unstyled">
                        <li><a href="mailto:naphtalynonofo@gmail.com">naphtalynonofo@gmail.com</a></li>
                        <li><a href="tel:+26777702393">+267 77 702 393</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-12">
                <div class="footer-col">
                    <p class="mb-4">Let's Connect!</p>
                    <!-- <form action="#" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>

                            <div class="col-lg-6 col-12">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>

                            <div class="col-lg-12 col-12">
                                <textarea class="form-control" id="message" name="message" placeholder="Message"></textarea>
                            </div>

                            <div class="col-lg-12 col-12">
                                <button class="custom-btn btn custom-link" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form> -->
                    <ul class="list-unstyled">
                        <li><a href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                    
                </div>
            </div>

            

        </div>
    </div>
</footer>